body {
  color: black;
  background-image: url("./background1.jpg");
  background-color: hsl(0, 0%, 80%);
  background-size: 82%;
  padding: 15px;
 }

#menu {
  color: white;
  font-weight: bolder;
   background-color: #57544b;
  opacity: 0.4;
  height: 40px;
text-align: center;
font-size: 22px;
font-family: 'Sansita', Verdana, sans-serif, monospace;
}

#board-name {
width: 250px;
font-size: 20px;
font-weight: bolder;
padding: 15px;
}

.btn-addList {
  padding: 15px;
  margin: 0px;
}

.row {
  padding: 5px;
  margin: 0px;
  /* max-width: 100%; */
  display: flex;
flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;
}
.card {
  padding-right: 0px;
padding-left: 0px;
margin: 10px;
}